html {
  background-image: radial-gradient(#D3D3D3 50%, #000000);
}

body {
  /* background-color: #D3D3D3; */
  padding: 30px;
}

h1 {
  /* font styles don't work on my Chromebook. TToTT */
  font-family: serif;
  text-align: center;

}

h2, div {
  text-align: center;
}

h3 {
  text-decoration: underline;
  text-decoration-style: solid;
  text-align: center;
}

h3#skills {
  font-size: 28px;
  font-weight: 400;
}

img {
  border: 2px solid #FF69B4;
  padding: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}

h2, div, ol, ul {
  font-family: sans-serif;
}

li {
  list-style-type: none;
  font-weight: bold;
}

li {
  text-align: center;
  width: 50%;
  border: 1px solid	#FF69B4;
  border-radius: 5px;
  background: rgba(255, 192, 203, 0.5);
  color: #E6E6FA;
  margin: 0 auto;
  margin-bottom: 3px
}

li:hover {
  background: rgba(255, 192, 203, 1);
  color: #FF1493;
}

p {
  text-align: center;;
}

form {
  text-align: center;
}
