* {
  background-image: linear-gradient(to right, white, purple);
  font-family: sans-serif; 
}

h1 {
  font-family: Cedarville Cursive ;
  color: #660217 ;
  font-size: 40px;
}

ul {
  list-style: none;
}

li {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: lightpink;
  border-radius: 4px;
  text-align: center;
}

ol {
  font-weight: 500;

}

img {
    margin-left: 500px;
    margin-right: 500px;
    width:340px;
    height: auto;
}

h3 {
  text-decoration: underline;
}
