*{
    font-family: sans-serif
}

body{
    background-image: linear-gradient(55deg, rgb(206, 206, 0), rgb(243, 219, 3))
}

h1{
    font-size: 123px;
    align-self: auto;
    margin: 0%;
    color: brown;
    font-family: 'Mali',cursive;
}

h3{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: wavy; 
}

ul{
    list-style: none;
    align-content: center;
}

ol{
    font-weight: 900;
    align-content: center;
}

li{
    text-align: center;
    color: blue;
    background-color: pink;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
}

#img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}