body{
    background-image: linear-gradient(to bottom, lightgreen, lightblue);
}

h1{
  font-family: fantasy;
  color: #713AA4;
}

ul {
  list-style-type: none;
}

ol{
  font-size: 20px;
}

li{
  text-align: center;
  color: blue;
  background: lightpink;
  border: 1px solid red;
  border-radius: 50px 50px 50px 50px;
  width: 350px;
  margin: 10px;
}

*{
  font-family: sans-serif;
}

h3{
  text-decoration: underline;
}
