body {
  background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
  font-family: sans-serif;
}
h1 {
  color: white;
  font-family: fantasy;
}


h3 {
  text-decoration: underline;
}

ul {
  list-style: none;
}
ol {
  font-weight:bolder;
}

li {
  text-align: center;
  color: blue;
  border : 1px solid red;
  background-color: pink;
}

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
  }
